openapi: 3.0.0
info:
  title: KINOKUNIYA - Electre API - V3
  version: '1.0'
  description: Endpoint list of Electre API (V3)
  contact:
    email: fvergez@electre.com
    name: Frederic Vergez
servers:
  - url: 'https://electre3test-api.bvdep.com/v1.0'
    description: TEST environment
paths:
  /searches:
    get:
      summary: List of saved searches
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                List of saved searches:
                  value:
                    _links:
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7'
                        rel: self
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results'
                        rel: results
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/facets'
                        rel: facets
                    catalog: livre
                    id: 743c40df-3916-11ea-ac05-05d141a8d7c7
                    simple:
                      fields:
                        - titre
                        - collection
                      phonetic: false
                      query: voyage nuit
        '401':
          description: |-
            **Unauthorized**

            La requete n'est pas autorisée *(vérifier la validité du token OAuth/JWT)*.
      operationId: search-list
      description: Returns the list of all searches created/saved by the user.
      parameters:
        - schema:
            type: boolean
            default: 'true'
          in: query
          name: hateoas
          description: "Adds a 'self' field in the response (`_links`)"
      security:
        - idp-electre-test:
            - webapi
      tags:
        - search
    post:
      summary: Create a new search
      operationId: create-search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                create-search:
                  value:
                    _links:
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7'
                        rel: self
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results'
                        rel: results
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/facets'
                        rel: facets
                    catalog: livre
                    id: 743c40df-3916-11ea-ac05-05d141a8d7c7
                    simple:
                      fields:
                        - titre
                        - collection
                      phonetic: false
                      query: voyage nuit
        '401':
          description: |-
            **Unauthorized**

            This request is not authorized *(check JWT/OAuth token validity)*.
      description: 'Creates a new search an store it *(reusable via its ID)*.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Cr:
                  type: string
            examples:
              Creation of a new search request (books):
                value:
                  catalog: livre
                  simple:
                    fields:
                      - titre
                      - collection
                    query: voyage nuit
                  isbnEans: null
                  rebond: null
                  filters: null
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
        description: |-
          Creation of a new reusable search.

          For the content of the request body, check the example below.
      security:
        - idp-electre-test:
            - webapi
      tags:
        - search
  '/searches/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Identifiant de la recherche précedemment créée
    get:
      summary: Details of a saved search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                search-details:
                  value:
                    _links:
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7'
                        rel: self
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results'
                        rel: results
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/facets'
                        rel: facets
                    catalog: livre
                    id: 743c40df-3916-11ea-ac05-05d141a8d7c7
                    simple:
                      fields:
                        - titre
                        - collection
                      phonetic: false
                      query: voyage nuit
      operationId: search-details
      security:
        - idp-electre-test:
            - webapi
      description: 'Returns details of a previously saved search *(**NOT** the list of results of this search)*. '
      tags:
        - search
    put:
      summary: Update of a saved search
      operationId: update-search
      responses:
        '200':
          description: |-
            **OK**

            Update of given search was OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                update-search-books:
                  value:
                    _links:
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/c5351f61-3917-11ea-8db2-b1dca8527fba'
                        rel: self
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/c5351f61-3917-11ea-8db2-b1dca8527fba/results'
                        rel: results
                      - href: 'https://electre3test-api.bvdep.com/v1.0/searches/c5351f61-3917-11ea-8db2-b1dca8527fba/facets'
                        rel: facets
                    catalog: livre
                    id: c5351f61-3917-11ea-8db2-b1dca8527fba
                    simple:
                      fields:
                        - titre
                        - collection
                      phonetic: false
                      query: voyage toscane
            application/xhtml+xml:
              schema:
                type: object
                properties: {}
      description: Update a saved search with a new content.
      security:
        - idp-electre-test:
            - webapi
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              update-search:
                value:
                  id: '8'
                  catalog: livre
                  simple:
                    fields:
                      - titre
                      - collection
                    query: voyage toscane
                  isbnEans: null
                  rebond: null
                  filters:
                    éditeur:
                      - 0-748978
      tags:
        - search
    delete:
      summary: Deletion of a saved search
      operationId: delete-search
      responses:
        '200':
          description: |-
            **OK**

            No response body if deletion action was OK
        '404':
          description: |-
            **NOT FOUND**

            If no search is maching the given path identifier
      description: Delete a previously saved search by its identifier.
      security:
        - idp-electre-test:
            - webapi
      tags:
        - search
  '/searches/{id}/results':
    parameters:
      - type: string
        name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifiant de la recherche
    get:
      summary: Search results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                search-results:
                  value:
                    index: 0
                    list:
                      - id: 0-620205
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 10.3
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: '1'
                        collections:
                          - id: 0-6663
                            libellé: 'Folio, n° 28'
                        dateParution: '1972-01-01T00:00:00'
                        description:
                          épaisseur: 2.2
                          hauteur: 18
                          largeur: 11
                          nbPages: 505
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070360284'
                        eansCouverture:
                          - '9782070360284'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-036028-8
                          - 978-2-07-036028-4
                        poids: 308
                        prix:
                          devise: EUR
                          hts:
                            - 9.76
                          ttc: 10.3
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/0'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-620205'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-620205/covers/9782070360284?alt=media'
                            rel: coverMedia
                      - id: 0-613890
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 29.5
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: '1'
                        collections:
                          - id: 0-6461
                            libellé: Blanche
                        dateParution: '1952-01-01T00:00:00'
                        description:
                          épaisseur: 3.4
                          hauteur: 21
                          largeur: 15
                          nbPages: 448
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070213047'
                        eansCouverture:
                          - '9782070213047'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-021304-8
                          - 978-2-07-021304-7
                        poids: 510
                        prix:
                          devise: EUR
                          hts:
                            - 27.96
                          ttc: 29.5
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/1'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-613890'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-613890/covers/9782070213047?alt=media'
                            rel: coverMedia
                      - id: 0-351004
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                          - id: 0-1325563
                            contribution: Auteur (illustrateur)
                            formeBib: 'Tardi, Jacques'
                            nationalité: France
                            nom: Jacques Tardi
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 37
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LRE
                              libellé: Livre relié
                        clils:
                          - code: '3436'
                            libellé: Littérature générale -- Oeuvres classiques
                        codeRetour: '1'
                        collections:
                          - id: 0-15998
                            libellé: Futuropolis-Gallimard
                        dateParution: '2006-11-23T00:00:00'
                        description:
                          épaisseur: 3.5
                          hauteur: 30
                          largeur: 22
                          mentionIllustrations: illustrations en noir et blanc
                          nbPages: 379
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48529
                            gln: '3011270700000'
                            nom: UD Union distribution
                        eans:
                          - '9782754800921'
                        eansCouverture:
                          - '9782754800921'
                        éditeurs:
                          - id: 0-747504
                            libellé: Futuropolis
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-7548-0092-1
                          - 978-2-7548-0092-1
                        poids: 1826
                        prix:
                          devise: EUR
                          hts:
                            - 35.07
                          ttc: 37
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/2'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-351004'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-351004/covers/9782754800921?alt=media'
                            rel: coverMedia
                      - id: 0-5908374
                        catalog: livre
                        auteurs:
                          - id: 0-1228701
                            contribution: Auteur
                            formeBib: 'Forgeau, Filip'
                            nationalité: France
                            nom: Filip Forgeau
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 8
                          thèmeClientRayon:
                            - code: R0207
                              libellé: Poésie et théâtre
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3744'
                            libellé: Jeunesse -- Fiction Jeunesse
                        codeRetour: '1'
                        collections:
                          - id: 0-37276
                            libellé: Théâtrales jeunesse
                        dateParution: '2019-09-26T00:00:00'
                        description:
                          épaisseur: 0.7
                          hauteur: 17
                          largeur: 12
                          nbPages: 77
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782842607746'
                        eansCouverture:
                          - '9782842607746'
                        éditeurs:
                          - id: 0-715291
                            libellé: Ed. théâtrales
                        impressionALaDemande: false
                        isbns:
                          - 2-84260-774-0
                          - 978-2-84260-774-6
                        poids: 78
                        prix:
                          devise: EUR
                          hts:
                            - 7.58
                          ttc: 8
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Blanche, la nuit; Le voyage de Charlie'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/3'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-5908374'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-5908374/covers/9782842607746?alt=media'
                            rel: coverMedia
                      - id: 0-310503
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 10.3
                          thèmeClientRayon:
                            - code: R1409
                              libellé: Parascolaire
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3038'
                            libellé: Parascolaire -- Classiques pédagogiques
                        codeRetour: '1'
                        collections:
                          - id: 0-41629
                            libellé: 'Folio, n° 60. Folioplus classiques'
                        dateParution: '2006-03-30T00:00:00'
                        description:
                          épaisseur: 2.4
                          hauteur: 18
                          largeur: 11
                          nbPages: 614
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070336869'
                        eansCouverture:
                          - '9782070336869'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-033686-7
                          - 978-2-07-033686-9
                        poids: 370
                        prix:
                          devise: EUR
                          hts:
                            - 9.76
                          ttc: 10.3
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/4'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-310503'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-310503/covers/9782070336869?alt=media'
                            rel: coverMedia
                      - id: 0-176840
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 99.99
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: LAU
                              libellé: Livre audio
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: ''
                        collections: []
                        dateParution: '2003-09-25T00:00:00'
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-533576
                            gln: '3012477730011'
                            nom: 'Frémeaux & associés'
                        eans:
                          - '9782844680433'
                        eansCouverture:
                          - '9782844680433'
                        éditeurs:
                          - id: 0-733457
                            libellé: 'Frémeaux & associés'
                        impressionALaDemande: false
                        isbns:
                          - 2-84468-043-7
                          - 978-2-84468-043-3
                        poids: null
                        prix:
                          devise: EUR
                          hts:
                            - 94.78
                          ttc: 99.99
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/5'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-176840'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-176840/covers/9782844680433?alt=media'
                            rel: coverMedia
                      - id: 0-1205565
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 13
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: LAU
                              libellé: Livre audio
                        clils:
                          - code: '3436'
                            libellé: Littérature générale -- Oeuvres classiques
                        codeRetour: '1'
                        collections:
                          - id: 0-60154
                            libellé: 'Eponymes, n° 51. Littérature'
                        dateParution: '2011-03-15T00:00:00'
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs: []
                        eans:
                          - '3760181390518'
                        eansCouverture:
                          - '3760181390518'
                        éditeurs:
                          - id: 0-764186
                            libellé: Eponymes
                        impressionALaDemande: false
                        isbns: []
                        poids: null
                        prix:
                          devise: EUR
                          hts:
                            - 12.32
                          ttc: 13
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Mort à crédit; Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/6'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1205565'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1205565/covers/3760181390518?alt=media'
                            rel: coverMedia
                      - id: 0-978546
                        catalog: livre
                        auteurs:
                          - id: 0-1292525
                            contribution: Auteur
                            formeBib: "O'Neill, Eugene"
                            nationalité: Etats-Unis
                            nom: "Eugene O'Neill"
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 15
                          thèmeClientRayon:
                            - code: R0109
                              libellé: Poésie et théâtre
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3622'
                            libellé: Littérature générale -- Théâtre
                        codeRetour: '1'
                        collections:
                          - id: 0-4518
                            libellé: Scène ouverte
                        dateParution: '1996-11-15T00:00:00'
                        description:
                          épaisseur: 1.4
                          hauteur: 18
                          largeur: 11
                          nbPages: 160
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-441860
                            gln: '3012268230000'
                            nom: Belles lettres diffusion-distribution
                        eans:
                          - '9782851813879'
                        eansCouverture:
                          - '9782851813879'
                        éditeurs:
                          - id: 0-7184
                            libellé: Arche éditeur
                        impressionALaDemande: false
                        isbns:
                          - 2-85181-387-0
                          - 978-2-85181-387-9
                        poids: 163
                        prix:
                          devise: EUR
                          hts:
                            - 14.22
                          ttc: 15
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Long voyage du jour à la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/7'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-978546'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-978546/covers/9782851813879?alt=media'
                            rel: coverMedia
                      - id: 0-857580
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                          - id: 0-1325563
                            contribution: Auteur (illustrateur)
                            formeBib: 'Tardi, Jacques'
                            nationalité: France
                            nom: Jacques Tardi
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 30.5
                          thèmeClientRayon:
                            - code: R0301
                              libellé: Albums
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '4135'
                            libellé: 'Documentaire (culture, société, littérature, adaptation littéraire) -- Adaptation littéraire'
                        codeRetour: '1'
                        collections:
                          - id: 0-15998
                            libellé: Futuropolis-Gallimard
                        dateParution: '1988-01-01T00:00:00'
                        description:
                          épaisseur: 2.9
                          hauteur: 30
                          largeur: 22
                          mentionIllustrations: illustrations en noir et blanc
                          nbPages: 384
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-48529
                            gln: '3011270700000'
                            nom: UD Union distribution
                        eans:
                          - '9782737626159'
                        eansCouverture: []
                        éditeurs:
                          - id: 0-71246
                            libellé: Futuropolis
                        impressionALaDemande: false
                        isbns:
                          - 2-7376-2615-3
                          - 978-2-7376-2615-9
                        poids: 1620
                        prix:
                          devise: EUR
                          hts:
                            - 28.91
                          ttc: 30.5
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Voyage au bout de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/8'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-857580'
                            rel: book
                      - id: 0-2335675
                        catalog: livre
                        auteurs:
                          - id: 0-1431375
                            contribution: Auteur
                            formeBib: 'Lewis, Norman'
                            nationalité: Royaume-Uni
                            nom: Norman Lewis
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 9
                          thèmeClientRayon:
                            - code: R0401
                              libellé: 'Guides touristiques, voyages'
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3640'
                            libellé: Littérature générale -- Récits de voyages
                        codeRetour: '1'
                        collections:
                          - id: 0-21198
                            libellé: Picquier poche
                        dateParution: '2014-10-21T00:00:00'
                        description:
                          épaisseur: 2.1
                          hauteur: 17
                          largeur: 11
                          nbPages: 435
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-413266
                            gln: '3012902940000'
                            nom: Harmonia mundi
                        eans:
                          - '9782809710472'
                        eansCouverture:
                          - '9782809710472'
                        éditeurs:
                          - id: 0-713738
                            libellé: P. Picquier
                        impressionALaDemande: false
                        isbns:
                          - 2-8097-1047-3
                          - 978-2-8097-1047-2
                        poids: 272
                        prix:
                          devise: EUR
                          hts:
                            - 8.53
                          ttc: 9
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'La nuit du dragon : voyage en Indochine'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/9'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2335675'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2335675/covers/9782809710472?alt=media'
                            rel: coverMedia
                      - id: 0-2272298
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 249
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LRE
                              libellé: Livre relié
                        clils:
                          - code: '3436'
                            libellé: Littérature générale -- Oeuvres classiques
                        codeRetour: '2'
                        collections: []
                        dateParution: '2014-06-03T00:00:00'
                        description:
                          épaisseur: 8.6
                          hauteur: 35
                          largeur: 26
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-578908
                            gln: '3019000233100'
                            nom: Editions des Saints-Pères
                        eans:
                          - '9782954268743'
                        eansCouverture:
                          - '9782954268743'
                        éditeurs:
                          - id: 0-779083
                            libellé: Editions des Saints-Pères
                        impressionALaDemande: false
                        isbns:
                          - 2-9542687-4-3
                          - 978-2-9542687-4-3
                        poids: 4390
                        prix:
                          devise: EUR
                          hts:
                            - 236.02
                          ttc: 249
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Voyage au bout de la nuit : manuscrit'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/10'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2272298'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2272298/covers/9782954268743?alt=media'
                            rel: coverMedia
                      - id: 0-1819347
                        catalog: livre
                        auteurs:
                          - id: 0-1292525
                            contribution: Auteur
                            formeBib: "O'Neill, Eugene"
                            nationalité: Etats-Unis
                            nom: "Eugene O'Neill"
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 16
                          thèmeClientRayon:
                            - code: R0109
                              libellé: Poésie et théâtre
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3622'
                            libellé: Littérature générale -- Théâtre
                        codeRetour: '1'
                        collections:
                          - id: 0-4518
                            libellé: Scène ouverte
                        dateParution: '2013-09-03T00:00:00'
                        description:
                          épaisseur: 1.6
                          hauteur: 19
                          largeur: 12
                          nbPages: 220
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-441860
                            gln: '3012268230000'
                            nom: Belles lettres diffusion-distribution
                        eans:
                          - '9782851818164'
                        eansCouverture:
                          - '9782851818164'
                        éditeurs:
                          - id: 0-7184
                            libellé: Arche éditeur
                        impressionALaDemande: false
                        isbns:
                          - 2-85181-816-3
                          - 978-2-85181-816-4
                        poids: 235
                        prix:
                          devise: EUR
                          hts:
                            - 15.17
                          ttc: 16
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Long voyage du jour à la nuit; Hughie
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/11'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1819347'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1819347/covers/9782851818164?alt=media'
                            rel: coverMedia
                      - id: 0-3414694
                        catalog: livre
                        auteurs:
                          - id: 0-11434632
                            contribution: Auteur
                            formeBib: 'Taulan, Yves'
                            nationalité: France
                            nom: Yves Taulan
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 5
                          thèmeClientRayon:
                            - code: R0702
                              libellé: Christianisme
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3359'
                            libellé: Christianisme -- Spiritualité et témoignages chrétiens
                        codeRetour: '1'
                        collections: []
                        dateParution: '2016-04-09T00:00:00'
                        description:
                          épaisseur: 1.1
                          hauteur: 19
                          largeur: 12
                          mentionIllustrations: illustrations en noir et blanc
                          nbPages: 171
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-540081
                            gln: '3012410193019'
                            nom: Calvin diffusion
                        eans:
                          - '9791090740051'
                        eansCouverture:
                          - '9791090740051'
                        éditeurs:
                          - id: 0-739954
                            libellé: COCEBAL
                        impressionALaDemande: false
                        isbns:
                          - 979-10-90740-05-1
                        poids: 190
                        prix:
                          devise: EUR
                          hts:
                            - 4.74
                          ttc: 5
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Voyage au bout de ma nuit : ressuscité par le miracle'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/12'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-3414694'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-3414694/covers/9791090740051?alt=media'
                            rel: coverMedia
                      - id: 0-1064508
                        catalog: livre
                        auteurs:
                          - id: 0-1355405
                            contribution: Auteur
                            formeBib: 'Mussapi, Roberto'
                            nationalité: Italie
                            nom: Roberto Mussapi
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 18.6
                          thèmeClientRayon:
                            - code: R0109
                              libellé: Poésie et théâtre
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3638'
                            libellé: Poésie -- Poésie contemporaine
                        codeRetour: '1'
                        collections:
                          - id: 0-23858
                            libellé: "L'arpenteur"
                        dateParution: '1999-05-14T00:00:00'
                        description:
                          épaisseur: 1.5
                          hauteur: 22
                          largeur: 13
                          nbPages: 158
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070754915'
                        eansCouverture:
                          - '9782070754915'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-075491-X
                          - 978-2-07-075491-5
                        poids: 226
                        prix:
                          devise: EUR
                          hts:
                            - 17.63
                          ttc: 18.6
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Le voyage de midi; Suivi de Voix du fond de la nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/13'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1064508'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1064508/covers/9782070754915?alt=media'
                            rel: coverMedia
                      - id: 0-862158
                        catalog: livre
                        auteurs:
                          - id: 0-1198563
                            contribution: Auteur
                            formeBib: 'Céline, Louis-Ferdinand'
                            nationalité: France
                            nom: Louis-Ferdinand Céline
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 61.5
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LRE
                              libellé: Livre relié
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: '3'
                        collections:
                          - id: 0-5184
                            libellé: 'Bibliothèque de la Pléiade, n° 157'
                        dateParution: '1981-01-01T00:00:00'
                        description:
                          épaisseur: 4.1
                          hauteur: 18
                          largeur: 12
                          nbPages: 1680
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070110001'
                        eansCouverture:
                          - '9782070110001'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-011000-1
                          - 978-2-07-011000-1
                        poids: 637
                        prix:
                          devise: EUR
                          hts:
                            - 58.29
                          ttc: 61.5
                          tvas:
                            - 5.5
                        séries:
                          - id: 0-86098
                            libellé: 'Romans, n° 1'
                        source: electre
                        titre: 'Romans. Volume 1, Voyage au bout de la nuit; Mort à crédit'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/14'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-862158'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-862158/covers/9782070110001?alt=media'
                            rel: coverMedia
                      - id: 0-368446
                        catalog: livre
                        auteurs:
                          - id: 0-1199670
                            contribution: Auteur
                            formeBib: 'Chandernagor, Françoise'
                            nationalité: France
                            nom: Françoise Chandernagor
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 19.3
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: '1'
                        collections:
                          - id: 0-6461
                            libellé: Blanche
                        dateParution: '2007-03-01T00:00:00'
                        description:
                          épaisseur: 2.2
                          hauteur: 23
                          largeur: 16
                          nbPages: 322
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070781225'
                        eansCouverture:
                          - '9782070781225'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-078122-4
                          - 978-2-07-078122-5
                        poids: 420
                        prix:
                          devise: EUR
                          hts:
                            - 18.29
                          ttc: 19.3
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: La voyageuse de nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/15'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-368446'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-368446/covers/9782070781225?alt=media'
                            rel: coverMedia
                      - id: 0-455122
                        catalog: livre
                        auteurs:
                          - id: 0-1199670
                            contribution: Auteur
                            formeBib: 'Chandernagor, Françoise'
                            nationalité: France
                            nom: Françoise Chandernagor
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 9.7
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: '1'
                        collections:
                          - id: 0-6663
                            libellé: 'Folio, n° 4751'
                        dateParution: '2008-06-12T00:00:00'
                        description:
                          épaisseur: 1.8
                          hauteur: 18
                          largeur: 11
                          nbPages: 415
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48441
                            gln: '3012600500000'
                            nom: Sodis
                        eans:
                          - '9782070358137'
                        eansCouverture:
                          - '9782070358137'
                        éditeurs:
                          - id: 0-71483
                            libellé: Gallimard
                        impressionALaDemande: false
                        isbns:
                          - 2-07-035813-5
                          - 978-2-07-035813-7
                        poids: 210
                        prix:
                          devise: EUR
                          hts:
                            - 9.19
                          ttc: 9.7
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: La voyageuse de nuit
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/16'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-455122'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-455122/covers/9782070358137?alt=media'
                            rel: coverMedia
                      - id: 0-5417765
                        catalog: livre
                        auteurs:
                          - id: 0-12016620
                            contribution: Auteur
                            formeBib: 'Bonhomme, Chantal'
                            nationalité: France
                            nom: Chantal Bonhomme
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 17
                          thèmeClientRayon:
                            - code: R0702
                              libellé: Christianisme
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3359'
                            libellé: Christianisme -- Spiritualité et témoignages chrétiens
                        codeRetour: '1'
                        collections: []
                        dateParution: '2018-08-17T00:00:00'
                        description:
                          épaisseur: 1.5
                          hauteur: 20
                          largeur: 15
                          nbPages: 263
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-419424
                            gln: '3017000002108'
                            nom: AVM Diffusion
                        eans:
                          - '9782353897087'
                        eansCouverture:
                          - '9782353897087'
                        éditeurs:
                          - id: 0-79020
                            libellé: Editions Emmanuel
                        impressionALaDemande: false
                        isbns:
                          - 2-35389-708-8
                          - 978-2-35389-708-7
                        poids: 320
                        prix:
                          devise: EUR
                          hts:
                            - 16.11
                          ttc: 17
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: "De la nuit à l'amour : petit voyage mystique au coeur de la maladie"
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/17'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-5417765'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-5417765/covers/9782353897087?alt=media'
                            rel: coverMedia
                      - id: 0-2275562
                        catalog: livre
                        auteurs:
                          - id: 0-1313707
                            contribution: Auteur
                            formeBib: Saint-Loup
                            nationalité: France
                            nom: Saint-Loup
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 12.9
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '3443'
                            libellé: Romans -- Romans francophones
                        codeRetour: '1'
                        collections:
                          - id: 0-318212
                            libellé: 'Voyage en poche, n° 9'
                        dateParution: '2015-01-23T00:00:00'
                        description:
                          épaisseur: 0.1
                          hauteur: 18
                          largeur: 12
                          mentionIllustrations: 'illustrations en noir et blanc, cartes'
                          nbPages: 409
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-413266
                            gln: '3012902940000'
                            nom: Harmonia mundi
                        eans:
                          - '9782361570804'
                        eansCouverture:
                          - '9782361570804'
                        éditeurs:
                          - id: 0-724490
                            libellé: Transboréal
                        impressionALaDemande: false
                        isbns:
                          - 2-36157-080-7
                          - 978-2-36157-080-4
                        poids: 368
                        prix:
                          devise: EUR
                          hts:
                            - 12.23
                          ttc: 12.9
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: La nuit commence au cap Horn
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/18'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2275562'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2275562/covers/9782361570804?alt=media'
                            rel: coverMedia
                      - id: 0-5518319
                        catalog: livre
                        auteurs:
                          - id: 0-12036448
                            contribution: Auteur
                            formeBib: 'Romaniuc-Boularand, Bianca'
                            nationalité: France
                            nom: Bianca Romaniuc-Boularand
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 24
                          thèmeClientRayon:
                            - code: R0111
                              libellé: Littérature généralités
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '4027'
                            libellé: Lettres -- Etudes littéraires générales et thématiques
                        codeRetour: '1'
                        collections:
                          - id: 0-26656
                            libellé: Espaces littéraires
                        dateParution: '2018-10-13T00:00:00'
                        description:
                          épaisseur: 1.8
                          hauteur: 24
                          largeur: 16
                          nbPages: 219
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-442218
                            gln: '3012419250010'
                            nom: Harmattan diffusion
                        eans:
                          - '9782343151441'
                        eansCouverture:
                          - '9782343151441'
                        éditeurs:
                          - id: 0-72813
                            libellé: "L'Harmattan"
                        impressionALaDemande: false
                        isbns:
                          - 2-343-15144-X
                          - 978-2-343-15144-1
                        poids: 364
                        prix:
                          devise: EUR
                          hts:
                            - 22.75
                          ttc: 24
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Louis-Ferdinand Céline : récurrence lexicale et poésie du style dans Voyage au bout de la nuit'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/19'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-5518319'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-5518319/covers/9782343151441?alt=media'
                            rel: coverMedia
                      - id: 0-1478528
                        catalog: livre
                        auteurs:
                          - id: 0-1431375
                            contribution: Auteur
                            formeBib: 'Lewis, Norman'
                            nationalité: Royaume-Uni
                            nom: Norman Lewis
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 18
                          thèmeClientRayon:
                            - code: R0401
                              libellé: 'Guides touristiques, voyages'
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3640'
                            libellé: Littérature générale -- Récits de voyages
                        codeRetour: '1'
                        collections:
                          - id: 0-14333
                            libellé: Objectif terre
                        dateParution: '2013-01-17T00:00:00'
                        description:
                          épaisseur: 2.8
                          hauteur: 21
                          largeur: 14
                          mentionIllustrations: 'illustrations en noir et blanc, cartes'
                          nbPages: 317
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-413266
                            gln: '3012902940000'
                            nom: Harmonia mundi
                        eans:
                          - '9782880864088'
                        eansCouverture:
                          - '9782880864088'
                        éditeurs:
                          - id: 0-76812
                            libellé: Olizane
                        impressionALaDemande: false
                        isbns:
                          - 2-88086-408-9
                          - 978-2-88086-408-8
                        poids: 435
                        prix:
                          devise: EUR
                          hts:
                            - 17.06
                          ttc: 18
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'La nuit du dragon : voyages en Indochine'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/20'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1478528'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1478528/covers/9782880864088?alt=media'
                            rel: coverMedia
                      - id: 0-886115
                        catalog: livre
                        auteurs: []
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 15.45
                          thèmeClientRayon:
                            - code: R0111
                              libellé: Littérature généralités
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '4027'
                            libellé: Lettres -- Etudes littéraires générales et thématiques
                        codeRetour: '1'
                        collections: []
                        dateParution: '1993-01-01T00:00:00'
                        description:
                          épaisseur: 1.5
                          hauteur: 21
                          largeur: 14
                          nbPages: 240
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-439028
                            gln: '3012166100000'
                            nom: Interforum
                        eans:
                          - '9782908295184'
                        eansCouverture:
                          - '9782908295184'
                        éditeurs:
                          - id: 0-715752
                            libellé: IMEC
                        impressionALaDemande: false
                        isbns:
                          - 2-908295-18-0
                          - 978-2-908295-18-4
                        poids: 343
                        prix:
                          devise: EUR
                          hts:
                            - 14.64
                          ttc: 15.45
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 70 critiques de Voyage au bout de la nuit (1932-1935)
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/21'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-886115'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-886115/covers/9782908295184?alt=media'
                            rel: coverMedia
                      - id: 0-1174748
                        catalog: livre
                        auteurs:
                          - id: 0-1180487
                            contribution: Auteur
                            formeBib: 'Bellosta, Marie-Christine'
                            nationalité: France
                            nom: Marie-Christine Bellosta
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 10
                          thèmeClientRayon:
                            - code: R0101
                              libellé: Romans français
                            - code: R0102
                              libellé: Romans étrangers
                            - code: R1501
                              libellé: Poche
                          thèmeClientSupport:
                            - code: LBR
                              libellé: Livre broché
                            - code: LPO
                              libellé: Poche
                        clils:
                          - code: '4027'
                            libellé: Lettres -- Etudes littéraires générales et thématiques
                        codeRetour: '1'
                        collections:
                          - id: 0-20945
                            libellé: CNRS-littérature
                          - id: 0-55424
                            libellé: Poche
                        dateParution: '2011-04-28T00:00:00'
                        description:
                          épaisseur: 1.8
                          hauteur: 19
                          largeur: 12
                          mentionIllustrations: illustrations en noir et blanc
                          nbPages: 317
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-439028
                            gln: '3012166100000'
                            nom: Interforum
                        eans:
                          - '9782271071675'
                        eansCouverture:
                          - '9782271071675'
                        éditeurs:
                          - id: 0-722806
                            libellé: CNRS Editions
                        impressionALaDemande: false
                        isbns:
                          - 2-271-07167-4
                          - 978-2-271-07167-5
                        poids: 305
                        prix:
                          devise: EUR
                          hts:
                            - 9.48
                          ttc: 10
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: "Céline ou L'art de la contradiction : lecture de Voyage au bout de la nuit"
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/22'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1174748'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1174748/covers/9782271071675?alt=media'
                            rel: coverMedia
                      - id: 0-3695128
                        catalog: livre
                        auteurs:
                          - id: 0-11415481
                            contribution: Auteur (illustrateur)
                            formeBib: 'Muzio, Sara'
                            nom: Sara Muzio
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 9.9
                          thèmeClientRayon:
                            - code: R0404
                              libellé: Activités artistiques et créatrices
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: JEU
                              libellé: Jeux
                            - code: LRE
                              libellé: Livre relié
                        clils:
                          - code: '3839'
                            libellé: Pratique -- Activités artistiques
                        codeRetour: '1'
                        collections: []
                        dateParution: '2016-11-24T00:00:00'
                        description:
                          épaisseur: 1.2
                          hauteur: 25
                          largeur: 25
                          mentionIllustrations: illustrations en noir et blanc
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-439028
                            gln: '3012166100000'
                            nom: Interforum
                        eans:
                          - '9788861128644'
                        eansCouverture:
                          - '9788861128644'
                        éditeurs:
                          - id: 0-78749
                            libellé: Ed. White star
                        impressionALaDemande: false
                        isbns:
                          - 88-6112-864-5
                          - 978-88-6112-864-4
                        poids: 503
                        prix:
                          devise: EUR
                          hts:
                            - 9.38
                          ttc: 9.9
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Jour et nuit : voyage parmi les secrets de la nature : dessins à colorier anti-stress'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/23'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-3695128'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-3695128/covers/9788861128644?alt=media'
                            rel: coverMedia
                      - id: 0-2642251
                        catalog: livre
                        auteurs:
                          - id: 0-15696
                            contribution: Auteur
                            formeBib: 'Franceschi, Michèle'
                            nationalité: France
                            nom: Michèle Franceschi
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 18
                          thèmeClientRayon:
                            - code: R0109
                              libellé: Poésie et théâtre
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3622'
                            libellé: Littérature générale -- Théâtre
                        codeRetour: '1'
                        collections: []
                        dateParution: '2015-03-01T00:00:00'
                        description:
                          épaisseur: 1.6
                          hauteur: 21
                          largeur: 15
                          nbPages: 186
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs:
                          - id: 0-48615
                            gln: '3012343380000'
                            nom: Soleils diffusion-distribution
                        eans:
                          - '9782844792013'
                        eansCouverture:
                          - '9782844792013'
                        éditeurs:
                          - id: 0-711258
                            libellé: "Ed. de l'Armançon"
                        impressionALaDemande: false
                        isbns:
                          - 2-84479-201-4
                          - 978-2-84479-201-3
                        poids: 400
                        prix:
                          devise: EUR
                          hts:
                            - 17.06
                          ttc: 18
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: Théâtre
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/24'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2642251'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-2642251/covers/9782844792013?alt=media'
                            rel: coverMedia
                      - id: 0-1069658
                        catalog: livre
                        auteurs:
                          - id: 0-1391298
                            contribution: Auteur
                            formeBib: 'Lavis, Jean-François'
                            nationalité: France
                            nom: Jean-François Lavis
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 24.24
                          thèmeClientRayon:
                            - code: R0111
                              libellé: Littérature généralités
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '4027'
                            libellé: Lettres -- Etudes littéraires générales et thématiques
                        codeRetour: ''
                        collections:
                          - id: 0-32110
                            libellé: "L'univers des discours"
                        dateParution: '1999-10-12T00:00:00'
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
                          libellé: Disponible
                        distributeurs: []
                        eans:
                          - '9782921425667'
                        eansCouverture: []
                        éditeurs:
                          - id: 0-732249
                            libellé: Balzac éditeur
                        impressionALaDemande: false
                        isbns:
                          - 2-921425-66-1
                          - 978-2-921425-66-7
                        poids: null
                        prix:
                          devise: EUR
                          hts:
                            - 22.98
                          ttc: 24.24
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Une écriture des excès : analyse sociologique de Voyage au bout de la nuit'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/25'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1069658'
                            rel: book
                      - id: 0-1003646
                        catalog: livre
                        auteurs:
                          - id: 0-1317773
                            contribution: Auteur
                            formeBib: 'Sédillot, Carole'
                            nationalité: France
                            nom: Carole Sédillot
                        cdi:
                          disponibilitéCalculée: manquant
                          disponibilitéExacteCalculée:
                            code: '4'
                            libellé: Manque provisoirement
                          prixCalculé: 20.23
                          thèmeClientRayon:
                            - code: R0707
                              libellé: 'Philosophie, éthique'
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3372'
                            libellé: Magie -- Art divinatoire
                        codeRetour: '1'
                        collections:
                          - id: 0-785
                            libellé: La nuit des mondes
                        dateParution: '1997-11-03T00:00:00'
                        description:
                          épaisseur: 2.7
                          hauteur: 25
                          largeur: 16
                          nbPages: 349
                        disponibilité: manquant
                        disponibilitéExacte:
                          code: '4'
                          libellé: Manque provisoirement
                        distributeurs:
                          - id: 0-439028
                            gln: '3012166100000'
                            nom: Interforum
                        eans:
                          - '9782710706090'
                        eansCouverture:
                          - '9782710706090'
                        éditeurs:
                          - id: 0-72254
                            libellé: Tchou
                        impressionALaDemande: false
                        isbns:
                          - 2-7107-0609-1
                          - 978-2-7107-0609-0
                        poids: 516
                        prix:
                          devise: EUR
                          hts:
                            - 19.18
                          ttc: 20.23
                          tvas:
                            - 5.5
                        séries: []
                        source: electre
                        titre: 'Ombres et lumières du tarot : voyage au coeur des 78 arcanes du tarot de Marseille'
                        _links:
                          - href: 'https://electre3test-api.bvdep.com/v1.0/searches/743c40df-3916-11ea-ac05-05d141a8d7c7/results/26'
                            rel: self
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1003646'
                            rel: book
                          - href: 'https://electre3test-api.bvdep.com/v1.0/books/0-1003646/covers/9782710706090?alt=media'
                            rel: coverMedia
                      - id: 0-277431
                        catalog: livre
                        auteurs:
                          - id: 0-179667
                            contribution: Auteur
                            formeBib: 'Grin, Chloé'
                            nationalité: Suisse
                            nom: Chloé Grin
                        cdi:
                          disponibilitéCalculée: disponible
                          disponibilitéExacteCalculée:
                            code: '1'
                            libellé: Disponible
                          prixCalculé: 10.5
                          thèmeClientRayon:
                            - code: R0109
                              libellé: Poésie et théâtre
                          thèmeClientSupport:
                            - code: GFO
                              libellé: Grand format
                            - code: LBR
                              libellé: Livre broché
                        clils:
                          - code: '3638'
                            libellé: Poésie -- Poésie contemporaine
                        codeRetour: '1'
                        collections:
                          - id: 0-48832
                            libellé: Poésie
                        dateParution: '2005-10-15T00:00:00'
                        description:
                          épaisseur: 0.6
                          hauteur: 22
                          largeur: 15
                          nbPages: 40
                        disponibilité: disponible
                        disponibilitéExacte:
                          code: '1'
[...]
